@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body, h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
/* * {
    outline: 1px solid red;
    } */

/* div {
    border: 1px solid blue;
} */
.hidden {
    display: none;
}
.wparrep {
    width: 100%;

}
.phone-call {
    text-decoration: none;
    color: black;
}

/* // header-top */
.header-top {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.shedule {
    color: red;
}


 /* // Header // */
 .header {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.8)),url(./../bg.jpg);
     background-size: cover;
     color: white;
     padding-top: 40px;
    
     
 }
 .title {
     color: white;
 }
 .title h1 {
     font-size: 20px;
     text-transform: uppercase;
     font-weight: 700;
     margin: 20px;
 }
 .title span {
     color: gold;
 }
 .title h3 {
     color: gold;
     margin: 20px;
 }
 .form {
     display: flex;
     flex-direction: column;
 }
 .advantages {
     position: relative;
     left: -50px;
     margin-top: 40px;
 }
 
 .advantages ul {
    list-style: none;
    text-align: left;
    padding: 0;
    
 }
 i {
     font-family: fontawesome !important;
 }
 .fas {
     padding-right: 8px;
 }
 .advantages ul li{
     margin-bottom: 10px;
 }
 .form {
     display: flex;
     flex-direction: column;
     justify-content center;
     align-items: center;
     margin-top: 20px;
     margin-bottom: 30px;
 }
 .form h4 {
     font-size: 13px;
     font-weight: bold;
     margin-bottom: 25px;
     margin-top: 10px;
 }
 .form input {
     
     width: 200px;
     height: 30px;
     margin: 5px;
 }
 
.red-button {
    background: red;
    color: white;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 80px;
    width: 230px;
    transition: all 0.5s ease;
    font-size: 15px;
  
}
.red-button:hover {
    border: 1px solid red;
    background: rgb(255, 247, 247);
    color: red;
}
#modal{
    position: fixed;  
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.81);
    z-index: 5;  
    display: none;
  }
  
  #form1{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 200px;
    height: 100px;
    background: rgb(235, 182, 10);
    margin: -110px -110px; 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9); 
    z-index: 6;
    border-radius: 30px;
    color:#000;
    font-size: 20px;
  }
  .form-number {
      text-decoration: none;
        color: #000;
        border: 2px solid black;
        border-radius: 20px;
        padding: 9px;
        transition: all 0.5s ease;
  }
  .form-number:hover {
      color: white;
      background: black;

  }

/* review */
.review {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.review-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.review-title h2 {
    font-size: 20px;
    margin-bottom: 30px;

}
.review-title p {
    font-size: 16px;
}
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
    margin: 0 auto;
}
.cardItem {
    width: 350px;
    height: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #f5f7f9;
    overflow: hidden;
    font-size: 13px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: #000;
}
.cardItem:hover {
border: 1px solid rgb(184, 177, 177);
   background: #fc0; /* Цвет фона */
   box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
} 

.title-refrigerator {
    margin-bottom: 50px;
    margin-top: 20px;
}

.description {
    display: none;
}
.container {
    background: #eeeff1;
    text-align: center;
    padding-top: 20px;
    
}
.row {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
    padding-bottom: 35px;
    
    
}
.steps-item {
    width: 140px;
    height: 110px;
    position: relative;
    transition:all 0.5s ease;
    margin: 20px;
    background: white;
    font-size: 13px;
}
.steps-item:hover {
    border: 1px solid rgb(184, 177, 177);
    background: #fc0; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.steps-item p{
    position: relative;
    top: 35px
}
.steps-number {
    position: relative;
    left: 55px;
    font-size: 15px;
    width: 30px;
}
.butn {
    border: 2px solid black;
    text-decoration: none;
    color: #000;
    position: relative;
    top: 20px;
    font-weight: bold;
    padding: 5px 5px;
}

.adv-title {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}
.container-adv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 20px 10px;
    grid-gap: 15px;
}
.container-adv p {
    font-size: 15px;
    margin-top: 10px;
}
.our-advantades {
    display: grid;
    justify-items: center;
}
 .abv-img { 
    
    padding-top: 50px;
    width: 280px;
} 
.adv-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.correct {
    margin-bottom: 30px;
}


/* footer  */
.footer {
    background: red;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    text-align: center;
}
.footer-title {
    margin-bottom: 40px;
}
.phone-call-footer {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-text p {
    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;
}
.footer-text p span {
    font-weight: bold;
}
/*price*/
.price {
    padding: 30px 0;
    text-align: center;
}
.price-title {
    margin-bottom: 30px;
}
.price-item-title {
    display: flex;
    height: 25px;
    background:#eeeff1;
    justify-content: space-between;
    align-items: center;
    
    font-size: 15px;  
    padding: 0 10px;
}
.price-item {
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: #000;
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 10px;
    transition: all ease 0.5s;
}
.price-item:hover {
    font-size: 20px;   

}
.another-problem {
    background: red;
    color: white;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.another-problem a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-top: 30px;
    border: 1px solid gold;
    background: gold;
    padding: 5px 0;
}
.button-a:hover {
    border: 1px solid rgb(184, 177, 177);
    background: #fc0; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

@media (min-width: 600px) {
    .header {
        display: grid;
        justify-items: center;
    }
    .title {
        text-align: center;
        }
        .title h1{
            font-size: 30px;
        }
        .title h3{
            font-size: 25px;
        }
        .advantages ul li{
            font-size: 20px;
        }
        .form h4 {
            font-size: 18px;
        }
        .review-title h2 {
            font-size: 22px;
        }
        .review-title p{
            font-size: 18px;
        }
        .steps-title h3 {
            font-size: 22px;
        }
        .steps-title p {
            font-size: 18px;
        }
        .steps-item p {
            font-size: 16px;
        }
        .steps-item {
            width: 200px;
            height: 190px;

        }
        .steps-number {
            left: 0;
        }
        .price-title h3 {
            font-size: 22px;
        }
        .price-title p {
            font-size: 18px;
        }
        .price-item-title {
            padding-left: 70px;
            padding-right: 70px;
            font-size: 19px;
        }
        .price-item {
            margin-left: 70px;
            margin-right: 70px;
            font-size: 17px;
        }
        .another-problem-text {
            font-size: 22px;
        }
        .button-a {
            font-size: 18px;
        }
        .adv-step h4{
            font-size: 20px;
        }
        .adv-step p {
            font-size: 16px;
        }
        .footer-text p{
            font-size: 18px;
        }
        .phone-call-footer {
            font-size: 22px;
        }
        .red-button {
            padding-top: 15px;
            padding-bottom: 15px;
            margin-top: 5px;
            margin-bottom: 80px;
            width: 300px;
            font-size: 20px;
        }
        
}
